@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  margin: 0;
  background-color: rgb(100, 82, 82);
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: rgb(80, 73, 73);
  padding-bottom: 2em;
}
nav h2 {
  background-color: rgb(80, 73, 73);
  font-size: 3em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
  padding-top: 0.75em;
  padding-left: 1em;
}
nav a {
  font-size: 2em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(80, 73, 73);
  color: black;
  padding-right: 1em;
  margin-left: 1em;
  padding-top: 1.34em;
}
nav a:hover {
  font-weight: bold;
}

#toDo-container {
  display: flex;
  justify-content: start;
  margin-top: 3em;
  font-size: 1.3em;
}
#toDo-container #todoInput #todo-title {
  display: block;
  margin-left: 5em;
  font-size: 1.6em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
  text-align: center;
  border-radius: 0.5em;
  border-style: solid;
  border-color: black;
}
#toDo-container #todoInput #todo-description {
  display: block;
  margin-left: 3em;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
  border-radius: 0.5em;
  border-style: solid;
  border-color: black;
}
#toDo-container #todoInput #addTodo-button {
  display: block;
  margin-left: 10em;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
  padding-top: 0.15em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: black;
}
#toDo-container #todoInput #clear-todoList {
  display: block;
  margin-left: 11em;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
  padding-top: 0.15em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: black;
}
#toDo-container #todoTasks
{
  margin-left: 5em;
  margin-top: 2em;  
  font-size: 1em;
  font-family: "Mali", "Sofia", Helvetica, sans-serif;
}
#toDo-container #todoTasks p
{
  margin-top: 2em;
  font-size: 1.3em;
}
.removeTask
{
  margin-top: 0.5em;
  margin-left: 1.15em;
  padding-top: 0.35em;
  font-size: 1em;
  border-radius: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 2em;
  height: 2em;
  color: grey;
}